@use '../../styles/fonts.variables.sass'
@use '../../styles/layout.variables.sass'

.content
  padding-bottom: layout.$space * 4

.content h1
  font-size: fonts.$size-medium
.content h2
  font-size: fonts.$size-regular-medium
.content h3
  font-size: fonts.$size-regular
.content h4
  font-size: fonts.$size-small
.content h5
  font-size: fonts.$size-tiny

.content ul,
.content ol
  padding-left: 0
