@use 'fonts.variables.sass'
@use 'colors.variables.sass'

// :root
//   scroll-behavior: smooth
//
body
  margin: 0 1rem
  font-family: fonts.$family-sans
  font-size: fonts.$size-regular
  text-rendering: optimizeLegibility
  color: colors.$dark
  background-color: colors.$light

h1, h2, h3, h4, h5, h6, blockquote
  font-family: fonts.$family-serif
  font-weight: fonts.$weight-serif-normal

h1
  font-size: fonts.$size-huge

h2
  font-size: fonts.$size-large

h3
  font-size: fonts.$size-medium

h4
  font-size: fonts.$size-regular-medium

h5
  font-size: fonts.$size-regular

h6
  font-size: fonts.$size-small

h1
  font-size: fonts.$size-huge

// button
//   background-color: colors.$dark
//   color: colors.$light
//   font-weight: fonts.$weight-sans-semi-bold
//   border: none
//   cursor: pointer
//
// button[type="submit"]
//   background-color: colors.$action
//   color: colors.$dark
//
// button:hover, button[type="submit"]:hover
//   background-color: colors.$accent1
//
// button[type="submit"]:hover
//   color: colors.$light
//
// *:focus
//   outline: none
//
// button:focus, a:focus, *[role="button"]:focus
//   box-shadow: 0 0 3px 1px colors.$accent1
//
// a, span[role=button]
//   color: colors.$action-dark
//   text-decoration: none
//
// a:hover, span[role=button]:hover
//   color: colors.$accent1
//
// a:hover
//   text-decoration: underline

// section
//   padding-top: 4rem
//
// .standardWidth,section
//   @include layout.standard-width

// .no-wrap
//   white-space: nowrap
//
// .indent p, p.indent
//   text-indent: layout.$paragraph-indent
//
// .subtitle
//   font-style: italic
//   margin-bottom: 0.75rem
//
// .title + .subtitle
//   margin-top: -1.75rem
//
// .centered, .centered *
//   text-align: center
