@use '../../../styles/colors.variables.sass'
@use '../../../styles/fonts.variables.sass'
@use '../../../styles/layout.variables.sass'
@use '../recipes/List.variables.sass'

$button-padding: layout.$space / 2
$button-font-size: fonts.$size-regular

@mixin button-shape($scale: 1)
  padding: $button-padding * $scale
  border-radius: ( $button-padding * $scale * 2 + $button-font-size * $scale ) / 2
  font-size: $button-font-size * $scale

.container
  width: List.$card-width
  margin: layout.$space auto

.container > *
  margin-top: layout.$space
.container > *:last-child
  margin-bottom: layout.$space

.question
  margin: 0
  width: 100%
  text-align: center

.container ul
  margin: 0
  padding: 0
  display: flex
  justify-content: center

.container button
  @include button-shape

.container button:hover,
.container button:focus
  background-color: colors.$accent1
  color: colors.$light

.questionNavigation
  display: flex
  justify-content: space-between

.questionNavigation button
  @include button-shape(0.65)
  border: 2px solid colors.$accent1
  background: transparent
  color: colors.$accent1
